body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0;
}

.sitepadding {
    padding: 0 50px;
}


/*Style Header start*/

.header {
    background-color: #445161;
    color: white;
    padding-top: 50px;
    padding-bottom: 55px;
    box-sizing: border-box;
}

.header::after {
    content: "";
    display: block;
    box-sizing: border-box;
    width: 100%;
}

.header_title {
    line-height: 50px;
    font-size: 60px;
    font-weight: 300;
    margin-bottom: 35px;
}

.header_list_item {
    height: 19px;
    padding-left: 35px;
    font-size: 20px;
    margin-bottom: 20px;
    background: url(./img/check_icon.png) no-repeat center left;
    background-size: contain;
}

.header_list_item:last-child {
    margin-bottom: 0;
}

.product_pic {
    width: 469px;
    height: 214px;
    background-color: white;
    float: right;
}


/*Style Header end*/


/* Style About */

.about_pic {
    width: 430px;
    min-height: 245px;
    background-color: #445161;
    float: right;
}

.about {
    box-sizing: border-box;
    padding-top: 50px;
    padding-bottom: 90px;
}

.about::after {
    content: "";
    display: block;
    width: 100%;
}

.about_title {
    font-size: 30px;
    font-weight: 300;
    line-height: 36px;
    margin-bottom: 29px;
    box-sizing: border-box;
}

.about_text {
    max-width: 665px;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.about_text:last-child {
    margin-bottom: 0;
}


/* Style About end */


/* Style Dignity */

.dignity {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    background-color: #f5f5f5;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.dignity_titel {
    font-size: 30px;
    font-weight: 300;
    line-height: 36px;
    margin-bottom: 28px;
    width: 100%;
}

.dignity_details_right {
    width: 50%;
    float: right;
    text-align: left;
}

.dignity_details_left {
    width: 50%;
    text-align: left;
}

.details_titel::-webkit-details-marker {
    display: none;
}

details:last-child span {
    margin: 0;
}

.details_titel span {
    display: inline-block;
    padding-left: 40px;
    margin-bottom: 20px;
    background: url(/img/plus_icon.png) no-repeat center left;
    background-size: contain;
}

.dignity_details[open] .details_titel span {
    display: block;
    background: url(/img/minus_icon.png) no-repeat center left;
    background-size: contain;
}

.details_text {
    margin-bottom: 10px;
}


/* Style Dignity end */


/*Screenshots start*/

.screenshots {
    box-sizing: border-box;
    padding-top: 46px;
    padding-bottom: 49px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.screenshots_titel {
    font-size: 24px;
    font-weight: normal;
    width: 100%;
    margin-bottom: 24px;
}

.screenshot_item {
    max-width: 580px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.margin_no_bottom {
    margin: 0;
}

.screenshot_desc {
    max-width: 365px;
    text-align: left;
    margin-left: 15px;
}

.screenshot_desc_titel {
    font-size: 24px;
    font-weight: normal;
    line-height: 30px;
    margin-bottom: 14px;
}

.screenshot_desc_text {
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
}

.screenshots_pic {
    display: block;
    background-color: #445161;
    width: 200px;
    max-height: 150px;
}


/*Screenshots end*/


/*Reviews start*/

.reviews {
    background-color: #f5f5f5;
    text-align: center;
    padding-top: 45px;
    padding-bottom: 50px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.reviews_titel {
    font-size: 30px;
    font-weight: normal;
    line-height: 36px;
    margin-bottom: 29px;
    width: 100%;
}

.reviews_item {
    max-width: 579px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.margin_no_bottom {
    margin: 0;
}

.reviews_desc {
    max-width: 442px;
    background-color: #ebebeb;
    padding: 14px;
    text-align: left;
}

.reviews_text {
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    font-style: italic;
    margin-bottom: 16px;
    position: relative;
}

.reviews_text::before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    margin: 15px auto;
    border: 15px solid;
    border-color: transparent #ebebeb transparent transparent;
    position: absolute;
    top: -7px;
    left: -42px;
}

.reviews_avtor {
    color: #989898;
    font-size: 14px;
}

.reviews_pic {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: #445161;
    margin-right: 16px;
}


/*Reviews end*/


/*Buy start*/

.buy {
    text-align: center;
    padding: 50px 145px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-end;
}

.buy_box {
    box-sizing: border-box;
    border: 2px solid #445162;
    background-color: #445162;
    border-radius: 5px;
}

.buy_titel {
    width: 100%;
    font-size: 30px;
    font-weight: normal;
    line-height: 36px;
    margin-bottom: 28px;
}

.buy_box_titel {
    font-size: 24px;
    font-weight: normal;
    color: white;
    padding: 14px 105px;
}

.buy_price {
    display: block;
    width: 100%;
    background-color: white;
    color: black;
    font-size: 40px;
    margin-bottom: 17px;
    padding: 14px 0;
}

.buy_list {
    padding: 0 35px;
}

.buy_list_item {
    list-style: decimal;
    color: white;
    font-size: 14px;
    margin-bottom: 14px;
    text-align: left;
}

.buy_list_item:last-child {
    margin-bottom: 20px;
}

.btn {
    padding: 10px 114px;
    border: 0;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
}


/*Buy end*/


/*Footer stert*/

.footer_titel {
    font-size: 30px;
    line-height: 36px;
    color: white;
    width: 100%;
    margin-bottom: 25px;
}

.footer {
    padding: 50px 249px;
    background-color: #445162;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.footer_form {
    width: 500px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.footer_btn {
    max-width: 140px;
    color: #445162;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 12px 45px;
    background-color: white;
    border: 0;
    border-radius: 5px;
    align-self: center;
}

input {
    max-height: 40px;
    border: 0;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 12px 10px;
}

textarea {
    border: 0;
    border-radius: 5px;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-top: 12px;
}

.footer_liks {
    text-align: left;
    color: white;
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    padding-left: 46px;
}

.footer_link_skype {
    padding-left: 30px;
    background: url(/img/skype_icon.png) no-repeat center left;
    background-size: contain;
    margin-bottom: 18px;
    line-height: 22px;
}

.footer_link_icq {
    padding-left: 30px;
    background: url(/img/icq_icon.png) no-repeat center left;
    background-size: contain;
    margin-bottom: 18px;
    line-height: 22px;
}

.footer_link_mail {
    padding-left: 30px;
    background: url(/img/email_icon.png) no-repeat center left;
    background-size: contain;
    margin-bottom: 18px;
    line-height: 22px;
}

.footer_link_tel {
    padding-left: 30px;
    background: url(/img/phone_icon.png) no-repeat center left;
    background-size: contain;
    margin-bottom: 18px;
    line-height: 22px;
}

.footer_brend {
    font-size: 60px;
    line-height: 65px;
    letter-spacing: 3px;
}


/*Footer end*/